.top-img {
  height: 80%;
  overflow: hidden;
  margin-top: 15px;
}

.top-img img {
  width: 100%;
}
.main-content {
  flex-direction: column;
}
.cont-img img {
  display: none;
}
.content p {
  list-style: 50px;
  font-size: 20px;
}
.content h1 {
  text-align: center;
  margin-bottom: 50px;
}
.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.image {
  margin-left: 30px;
  text-align: center;
}
.image p {
  margin-bottom: 15px;
}
.image h3 {
  margin: 10px 0;
}
.feature h1 {
  font-size: 27px;
}
.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.social-right a {
  cursor: pointer;
  font-size: 30px;
}
