@media only screen and (max-width: 900px) {
  .navbar {
     flex-direction: column;
     transition: all 1s ease-out;
  background-color: rgba(255, 250, 250);
}
  .navbar .mid-nav a{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    
  }
  
  .left-nav{
    margin-top: 10px;
  }
  
  .v-class{
    opacity: 0;

  }
  .h-class{
    height: 60px;
  }
 

  
  .barger {
    display: block;
    position: absolute;
    right: 0;
    top: 30px;
  }



}
@media only screen and (max-width: 630px) {
  .cont-img img {
    height: 200px;
    width: 200px;
  }
  .feature-img img {
    width: 150px;
  }
}
@media only screen and (max-width: 500px) {
  .main-content {
    flex-direction: column;
  }
  .main-content .content {
    margin-bottom: 20px;
  }
  .feature-img img {
    width: 130px;
  }
}

/* about section */




@media only screen and (max-width: 900px) {
  .row {
    flex-direction: column;
  }
  .feature h1 {
    text-align: center;
  }
}






@media only screen and (max-width: 550px) {
  .row {
    flex-direction: column;
  }
  .social {
    flex-direction: column;
    text-align: center;
  }
  .social .social-left {
    margin-bottom: 20px;
  }
  .image {
    margin-left: 5px;
  }
}
